// Login
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// start now!
color: 'black';
 fontSize: 40;
 fontFamily: 'Peddana';
 fontWeight: '400';
 textTransform: 'capitalize';
 wordWrap: 'break-word'
---
// start now!
color: 'black';
 fontSize: 40;
 fontFamily: 'Peddana';
 fontWeight: '400';
 textTransform: 'capitalize';
 wordWrap: 'break-word'
---
// Get ahead 
color: '#2980B9';
 fontSize: 48;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'capitalize';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// with the
color: '#2980B9';
 fontSize: 48;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'lowercase';
 lineHeight: 50;
 wordWrap: 'break-word'
---
//  <br/>myanmar survey team center
color: '#2980B9';
 fontSize: 48;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'capitalize';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// Check out our popular polling averages

color: '#2980B9';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Laest Polls
color: '#2980B9';
 fontSize: 36;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// What is your favourite<br/> programming languages?
color: '#2980B9';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '700';
 lineHeight: 35;
 wordWrap: 'break-word'
---
// What is your <br/>favourite food?
color: '#2980B9';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '700';
 lineHeight: 35;
 wordWrap: 'break-word'
---
// What is your <br/>favourite sport?
color: '#2980B9';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '700';
 lineHeight: 35;
 wordWrap: 'break-word'
---
// Display Poll All Data
color: '#2980B9';
 fontSize: 36;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// golf
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// video gaming
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// football
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// basketball
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// tennis
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// pizza
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// icecream
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// cake
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// fruit
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// kfc
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// python
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// php
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// c#
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// javascript
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// R
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// china movies
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// korea movies
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// myanmarmovies
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// English movies
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Thai movies
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
//  red
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// blue
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// yellow
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// green
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// pink
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 0
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 25
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 50
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 75
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 100
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 88
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 82
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 79
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 76
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 73
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 71
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 69
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 64
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 60
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 58
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 57
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 52
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 50
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 48
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 45
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 42
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 39
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 34
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 30
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 30
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 28
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 25
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 21
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 19
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 13
color: '#333333';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// HOME
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// SERVICES
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// CATEGORY
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// result
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// ABOUT
color: '#2980B9';
 fontSize: 24;
 fontFamily: 'Oswald';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'