

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://google.com">
                   Myanmar Survey Team Center
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://google.com">MSTC</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://google.com">MSTC</a>
          </div>
        </div>
    </footer>
